* {
	margin: 0;
	padding: 0;
}
.container {
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	border: 12px violet solid;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.circulo {
	position: absolute;
	height: 6em;
	width: 6em;
	background: red;
	border-radius: 100%;
	-webkit-transition: all 0.5s;
	-webkit-transition-timing-function: linear;	
}
.circulo:hover{
	cursor: pointer;
}
.columna{
	height: 100%;
	width: 20%;
	align-self: flex-end;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

/* CONTROL DE COLORES */

.colores {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 80px;
	width: 250px;
	bottom: 20px;
	right: 20px;
}
.colores div{
	border-radius: 100%;
	width: 4em;
	height: 4em;
	cursor: pointer;
}
.colores div:hover{
	cursor: pointer;
}
.colores div:active{
	background: pink;
}
.rojo{
	background: red;
}
.verde{
	background: green;
}
.azul{
	background: blue;
}

/* CONTROL DE MOVIMIENTOS */

.tablero{
	height: 100px;
	width: 150px;
	top: 20px;
	right: 20px;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-evenly;
	align-items:center;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none;
}
.boton{
	background: black;
	color: white;
	width: 3em;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30%;
}	
.boton:hover{
	cursor: pointer;
}
.boton:active{
	background: grey;
}
.up{
	-webkit-transform: rotate(90deg);
}
.right{
	-webkit-transform: rotate(180deg);
}
.down{
	-webkit-transform: rotate(270deg);
}